$text-black: #000000b9;
$text-black-faded: rgba(0, 0, 0, 0.443);
$text-white: #ffffffe1;
$text-white-faded: #ffffff85;
$bg-base: #fffdfb;
$bg-base-delivery: #b9a08e;
$bg-base-payment: #a8b580;
$bg-primary: #ede1d2; 
$bg-secondary: #f5eee6;
$bg-detail: #00000010;
$bg-highlight: #ffffff70;
$separator: #a155395e;
$primary: #82895d;
$secondary: #a15539;
$action: #af9281;
$bg-black-overlay: rgba(0,0,0,0.3);
$btn-border: rgba(0, 0, 0, 0.443);
$btn-shadow: #0000002f;