@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Providers.ChannelManager ChannelManager
@page "/"

<PageTitle>Courier Notifications</PageTitle>

<div class="container">

    <h1>Enviar Notificação</h1>
    <hr />

    @if (!string.IsNullOrEmpty(error))
    {
        <h3 class="text-danger">Erro ao carregar canais</h3>
        <p>@error</p>
    }
    else if (ChannelManager.Channels.Count <= 0)
    {
        <h3 class="text-danger">Nenhum canal encontrado</h3>
        <p>Para adicionar um canal,
            escaneie o QR Code no computador que exibe os recados
            utilizando a camera do seu celular.</p>
    }
    else
    {
        <h3>Escolha o canal desejado:</h3>
        <div class="list-group">
        @foreach (var channel in ChannelManager.Channels)
        {
            <a href="/send/@channel.Id" class="list-group-item list-group-item-action">
                @channel.Name
            </a>
        }
        </div>
    }

</div>

@code {
    private string error = "";

    protected override async Task OnInitializedAsync()
    {
        await ChannelManager.SetLocalStorage(LocalStorage);
        await ChannelManager.GetAllChannelsFromServer();
    }
}
