<div class="fullscreen container hide-when-installed">
    <div class="mt-3 text-center">
        <h1>Courier Notifications</h1>
        <img class="img-fluid" src="/pwa-512x512.png" />
    </div>
    <article class="mb-5">

    <h2 class="mt-3">Mas antes, salve esta página</h2>
    <p>
        Esta página da web funciona como um app.
        <br />Devido a algumas limitações,
        somente é suportado abrir essa página no modo app,
        para fazer isso, siga essas instruções:
    </p>

    <h3>iPhone</h3>
    <ol>
        <li>Abra esta página usando o navegador Safari</li>
        <li>Toque no ícone de compartilhar</li>
        <li>Selecione "Salvar na tela inicial"</li>
        <li>Feche o navegador</li>
        <li>Abra o novo App "Courier" a partir da tela inicial</li>
    </ol>

    <h3>Android</h3>
    <ol>
        <li>Abra esta página usando o navegador Chrome</li>
        <li>Toque no ícone dos três pontinhos (menu)</li>
        <li>Selecione "Salvar na tela inicial"</li>
        <li>Feche o navegador</li>
        <li>Abra o novo App "Courier" a partir da tela inicial</li>
    </ol>
    </article>
</div>

@code {

}
