@using CN.Web.App.Components
@inherits LayoutComponentBase


<div class="page">
    <Install />
    <main>
        <header class="top-row" style="justify-content:center">
            <a href="/">
                <img class="text-center" src="favicon.svg"  height="50" width="50"/>
            </a>   
        </header>

        <article class="content container-fluid">
            @Body
        </article>
    </main>
</div>
