@using CN.Web.App.Components
@inherits LayoutComponentBase


<div class="page">
    <Install />
    <main class="min-vh-100 min-vw-100 d-flex flex-column">
        <header class="top-row" style="justify-content:center">
            <a href="/">
                <img class="text-center" src="favicon.svg"  height="50" width="50"/>
            </a>   
        </header>

        <article class="content container-fluid">
            @Body
        </article>

        <footer class="mt-auto container-fluid text-center text-secondary">
            <hr class="mt-0 mb-1"/>
            <p class="mb-1 fs-6">
                <small>
                    github.com/leocb - v1.0.0
                </small>
            </p>
        </footer>
    </main>
</div>
